<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Development_Socks.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Development_Socks.My.MySettings.OracleLocal" connectionString="Server=localhost,1433;Database=Toraydb;User ID=sa;Password=tecknose4260"
            providerName="System.Data.OracleClient" />
        <add name="Development_Socks.My.MySettings.TorayConnectionString"
            connectionString="Server=192.168.1.211,1433;Database=Toraydb;User ID=sa;Password=tecknose4260"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Development_Socks.My.MySettings>
            <setting name="dbOverideString" serializeAs="String">
                <value />
            </setting>
            <setting name="OpPassword" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="MasterPassword" serializeAs="String">
                <value>tecknose4260</value>
            </setting>
            <setting name="comBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="comPortNum" serializeAs="String">
                <value />
            </setting>
            <setting name="chkUseSpectro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUseColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUseSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="dirCarts" serializeAs="String">
                <value />
            </setting>
            <setting name="dirJobs" serializeAs="String">
                <value />
            </setting>
            <setting name="activationNum" serializeAs="String">
                <value />
            </setting>
            <setting name="chkUsePack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirPacking" serializeAs="String">
                <value />
            </setting>
            <setting name="dirPackReports" serializeAs="String">
                <value />
            </setting>
            <setting name="barcodeCTRL" serializeAs="String">
                <value>CR</value>
            </setting>
            <setting name="SQLConn" serializeAs="String">
                <value>Server=192.168.1.211,1433;Database=Toraydb;User ID=sa;Password=tecknose4260</value>
            </setting>
            <setting name="chkDisableCreate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="chkUseLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUseEng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUseThai" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audioAlarm" serializeAs="String">
                <value>False</value>
            </setting>
        </Development_Socks.My.MySettings>
    </userSettings>
</configuration>